[submodule "tfp-collage-service"]
	path = tfp-collage-service
	url = git@github.com:mrgauravgupt/tfp-collage-service.git

[submodule "tfp-moderation-service"]
	path = tfp-moderation-service
	url = git@github.com:mrgauravgupt/tfp-image-moderation-service.git

[submodule "tfpphotographers"]
	path = tfpphotographers
	url = git@github.com:mrgauravgupt/tfpphotographers.com.git
[submodule "tfp-ai-interface"]
	path = tfp-ai-interface
	url = git@github.com:mrgauravgupt/tfp-ai-interface.git
[submodule "tfp-inhouse-moderation"]
	path = tfp-inhouse-moderation
	url = git@github.com:mrgauravgupt/tfp-inhouse-moderation.git
